.drawing-player-wrapper {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 640px;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}