.marker{
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
  transform: translate(-0.5rem, -0.5rem)
}

.canvas{
  border: 1px solid red;
  /* width: 600px;
  height: 400px; */
}

.webcam{
  transform: scaleX(-1);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  width: 640;
  height: 480;
}

.webcamCanvas{
  transform: scaleX(-1);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
