.form-wrapper{
  margin-top: 1rem;
  text-align: center;
}

.form-wrapper h1{
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  gap: 0.5rem;
}

.form-container input {
  display: block;
}

.error-field{
  outline: 3px solid red
}

.error-message{
  height: 1rem;
  color: red;
  font-size: 0.8rem;
}

button{
  font-size: 1.5rem;
}
