.game-room-wrapper {
  margin-top: 2rem;
}

.secret-word {
  text-align: center;
}

.game-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  /* min-width: 640px; */
}
