:root{
  --main-content-width: min(calc(100vw - 40px), 1200px)
}

.App {
  margin: 0 auto;
  /* border: 1px solid red; */
  width: var(--main-content-width);
  height: 100vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-logo{
  margin: 0;
  font-family: 'Coming Soon', cursive;
  font-size: clamp(2rem, 5vw, 3rem);
  cursor: pointer;
}

.content-wrapper {
  /* border: 1px solid green; */
}


