:root{
  --main-content-width: min(calc(100vw - 40px), 1200px)
}

.App {
  margin: 0 auto;
  border: 1px solid red;
  width: var(--main-content-width);
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
}

.main-logo{
  margin: 0;
  /* font-family: 'Ramaraja', serif; */
  font-size: 3em;
  cursor: pointer;
}

.content-wrapper {
  border: 1px solid green;
}

